
<!Doctype html>

{% load static %}

<html lang="en">
<head>
    <title>
        OpenResumes
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Tailwind CSS -->
    <link href="https://unpkg.com/tailwindcss@^2.1.1/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'images/favicon.ico' %}"  type="image/x-icon"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Pacifico');
        @import url('https://fonts.googleapis.com/css?family=Product+Sans');
        @import url('https://fonts.googleapis.com/css?family=Open+Sans');
        .ex {
            background-image:   linear-gradient(
                                60deg,
                                rgba(114, 20, 129, 1) ,                  
                                rgba(255, 82, 0, 1) 
                                );
            margin: 6px 0px 0px 0.8rem;
            font-weight: 400;
            background-size: 100%;
            background-repeat: repeat;
        
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .accordion {
            
            transition: 0.4s;            
        }

        

        .panel {
            padding: 0 18px;
            display: none;
            background-color: white;
            overflow: hidden;
 }
    </style>
    <script>

        function myFunction() {
            alert("ddff");
            }



    </script>
</head>
    <body class="mx-2">
        <!-- Header part -->

        <div class="relative items-center bg-white">
            <div class=" flex flex-row justify-between w-full px-3 py-2">
                <p class=" ex" style="font-family:'Pacifico'; font-size:30px ">OpenResumes</p>

                <p class="absolute px-2 inset-12 text-xs my-1.5 mx-2 text-gray-500" style="color: #ADA3A5; font-family: 'Product Sans';">by</p>
                <p class="absolute px-6 inset-12 text-xs font-bold my-1.5 mx-2 text-gray-500" style="color: #ADA3A5; font-family: 'Product Sans';">SWC</p>
                <div class="flex items-center  rounded-md hover:bg-gray-100 focus:ring-1 px-6 py-2">
                    <a href="{% url 'django_auth_adfs:logout' %}" class="font-extrabold text-xs text-gray-900">
                        <svg class="h-8 w-8 text-gray-600 hover:text-black" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" />
                            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M7 12h14l-3 -3m0 6l3 -3" />
                        </svg>
                        <p class="text-xs text-gray-500" style="padding-top: 0px; font-family: 'Open Sans';">Logout</p>
                    </a>
                </div>
            </div>
        </div>
            
        <!-- header ends -->
        

        <!-- body starts -->

        <div class="relative grid lg:grid-cols-2 text-white my-3 divide-x divide-white">
            <div class="relative bg-white p-6 h-full rounded">

                <!-- top card starts -->
                <div class=" flex pt-0 px-0  relative inline-block text-left">
                    <span class="rounded-md shadow-sm ">
                        <button class="rounded inline-flex justify-between items-center  pl-3 py-2 pr-5 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out  border border-gray-300 rounded-md hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800" 
                                type="button" onclick="myFunction()" aria-haspopup="true" aria-expanded="true" aria-controls="headlessui-menu-items-117" style="width: auto; background: #FF5200; fill-opacity: 100%;">
                                <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.4" d="M25.1617 12.6961C24.5597 12.6961 23.7623 12.6828 22.7695 12.6828C20.3483 12.6828 18.3574 10.6788 18.3574 8.23478V3.94678C18.3574 3.60944 18.0881 3.33478 17.754 3.33478H10.7015C7.41021 3.33478 4.74998 6.03611 4.74998 9.34678V23.7134C4.74998 27.1868 7.53695 30.0014 10.9761 30.0014H21.4784C24.7578 30.0014 27.4167 27.3174 27.4167 24.0041V13.2961C27.4167 12.9574 27.1486 12.6841 26.8133 12.6854C26.2496 12.6894 25.5736 12.6961 25.1617 12.6961Z" fill="#FFFFFF"/>
                                    <path opacity="0.4" d="M21.5287 4.09119C21.13 3.67652 20.434 3.96186 20.434 4.53652V8.05252C20.434 9.52719 21.6487 10.7405 23.1233 10.7405C24.0527 10.7512 25.3433 10.7539 26.4393 10.7512C27.0007 10.7499 27.286 10.0792 26.8967 9.67386C25.49 8.21119 22.9713 5.58986 21.5287 4.09119Z" fill="#FFFFFF"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0485 15.8516H16.5619C17.1099 15.8516 17.5552 15.4076 17.5552 14.8596C17.5552 14.3116 17.1099 13.8662 16.5619 13.8662H12.0485C11.5005 13.8662 11.0565 14.3116 11.0565 14.8596C11.0565 15.4076 11.5005 15.8516 12.0485 15.8516ZM12.0486 22.5105H19.3073C19.8553 22.5105 20.3006 22.0665 20.3006 21.5185C20.3006 20.9705 19.8553 20.5252 19.3073 20.5252H12.0486C11.5006 20.5252 11.0566 20.9705 11.0566 21.5185C11.0566 22.0665 11.5006 22.5105 12.0486 22.5105Z" fill="#FFFFFF"/>
                                </svg>   
                            <div class="flex-column text-left w-full px-4">
                                <span class="flex text-lg not-italic font-semibold leading-6 tracking-normal text-white">Resume name</span>
                                <span class="static left-0 bottom-0 not-italic font-normal text-sm leading-5  text-gray-100 flex-none order-1 flex-grow-0">Last updated on 11th May</span>
                            </div>
                            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.4" d="M16.6433 7.48844C16.6433 7.55644 16.1104 14.2972 15.806 17.1341C15.6154 18.875 14.493 19.931 12.8095 19.961C11.516 19.99 10.2498 20 9.00394 20C7.68127 20 6.38778 19.99 5.13221 19.961C3.50513 19.922 2.38183 18.845 2.20094 17.1341C1.88778 14.2872 1.36454 7.55644 1.35482 7.48844C1.34509 7.28345 1.41123 7.08846 1.54544 6.93046C1.67771 6.78447 1.86833 6.69647 2.06867 6.69647H15.9392C16.1386 6.69647 16.3195 6.78447 16.4624 6.93046C16.5957 7.08846 16.6628 7.28345 16.6433 7.48844Z" fill="#FEFEFE"/>
                            <path d="M18 3.97686C18 3.56588 17.6761 3.24389 17.2871 3.24389H14.3714C13.7781 3.24389 13.2627 2.8219 13.1304 2.22692L12.967 1.49795C12.7385 0.616978 11.9498 0 11.0647 0H6.93624C6.0415 0 5.26054 0.616978 5.02323 1.54595L4.87054 2.22792C4.7373 2.8219 4.22185 3.24389 3.62957 3.24389H0.713853C0.32386 3.24389 0 3.56588 0 3.97686V4.35685C0 4.75783 0.32386 5.08982 0.713853 5.08982H17.2871C17.6761 5.08982 18 4.75783 18 4.35685V3.97686Z" fill="#FEFEFE"/>
                            </svg>  
                        </button>
                    </span>
                </div>
                <!-- top card ends -->
                <div class="relative flex-column mt-12 ml-6 mb-12  text-black font-bold" style="font-family: Open Sans;">
                    <div class="mb-3 not-italic font-bold text-lg  leading-6 text-gray-900 flex-none order-none flex-grow">Sections</div>

                    <!-- General Start -->
                    <button class=" accordion flex flex-row  items-center bg-white hover:bg-white border-none cursor-pointer  py-1 w-full text-left text-sm focus:outline-none focus:bg-white">
                        <svg class=" flex " width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5575 8.01919C10.7485 8.01919 10.9405 8.09219 11.0865 8.23819L14.5735 11.7082C14.7145 11.8492 14.7935 12.0402 14.7935 12.2402C14.7935 12.4392 14.7145 12.6302 14.5735 12.7712L11.0865 16.2432C10.7935 16.5352 10.3195 16.5352 10.0265 16.2412C9.73448 15.9472 9.73548 15.4722 10.0285 15.1802L12.9815 12.2402L10.0285 9.30019C9.73548 9.00819 9.73448 8.53419 10.0265 8.24019C10.1725 8.09219 10.3655 8.01919 10.5575 8.01919Z" fill="#242426"/>
                            </svg>
                            <div class="text-base not-italic font-bold leading-5 tracking-normal text-left">General</div>
                    </button>
                    <div class="my-3 p-8  border rounded-xl border-gray-300 bg-white hidden overflow-hidden  ">
                        <!-- <form> -->
                            <!-- <span class="text-base not-italic font-normal leading-5 tracking-normal text-left">Fill in the data for profile</span> -->
                            <div class="my-6 p-3 mr-20">
                                <div class="mb-8 flex flex-col ">
                                    <label for="name_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                        Name
                                    </label>
                                    <input type="text" name="name_" id="name_" placeholder="Your Full Name" required
                                        class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2" value="{{name}}">
                                </div>
                                <div class="sm:mb-8 sm:flex sm:flex-row ">
                                    <div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2">
                                        <label for="stream_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Stream
                                        </label>
                                        <input type="text" name="stream_" id="stream_" placeholder="B Tech / M Tech / Phd" value="{{stream}}" required 
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                    <div class=" mb-8  sm:mb-0 flex flex-col  sm:w-1/2 ">
                                        <label for="roll_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Roll No.
                                        </label>
                                        <input type="text" name="roll_" id="roll_" required value="{{roll}}"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                </div>
                                <div class="sm:mb-8 sm:flex sm:flex-row ">
                                    <div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2">
                                        <label for="programme_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Programme
                                        </label>
                                        <input type="text" name="programme_" id="programme_" placeholder="Computer Science and Engineering" required value="{{programme}}"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                    <div class=" mb-8  sm:mb-0 flex flex-col  sm:w-1/2">
                                        <label for="minor_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Minor
                                        </label>
                                        <input type="text" name="minor_" id="minor_" placeholder="Mathematics" value="{{minor}}"            
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>  
                                </div>  
                                <div class="sm:mb-8 sm:flex sm:flex-row ">
                                    <div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2">
                                       <label for="webmail_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Outlook Email ID
                                        </label>
                                        <input type="text" name="webmail_" id="webmail_" placeholder="someone@iitg.ac.in" value="{{webmail}}" required
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                    <div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2">
                                        <label for="email_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Alternate Mail
                                        </label>
                                        <input type="text" name="email_" id="email_" value="{{email}}"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                </div>
                                <div class="sm:mb-8 flex sm:flex-row ">
                                    <div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2">
                                        <label for="mobile_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Phone Number
                                        </label>
                                        <input type="text" name="mobile_" id="mobile_" value="{{mobile}}"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                    <div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2">
                                        <label for="linkedIn_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            LinkedIn
                                        </label>
                                        <input type="text" name="linkedIn_" id="linkedIn_" value="{{linkedIn}}"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                </div>
                            </div>
                            <button class="w-full flex flex-row justify-center items-center h-12 bg-gray-700 rounded flex-none order-2 flex-grow-0 text-base not-italic font-bold leading-6 tracking-normal text-center text-white" type="button" onclick="myFunction()">
                                Save
                            </button>
                            
                        <!-- </form> -->
                    </div>
                    <!-- General End -->

                    <!-- Education Start -->
                    <button class=" accordion flex flex-row  items-center bg-white hover:bg-white border-none cursor-pointer  py-1 w-full text-left text-sm focus:outline-none focus:bg-white">
                        <svg class=" flex " width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5575 8.01919C10.7485 8.01919 10.9405 8.09219 11.0865 8.23819L14.5735 11.7082C14.7145 11.8492 14.7935 12.0402 14.7935 12.2402C14.7935 12.4392 14.7145 12.6302 14.5735 12.7712L11.0865 16.2432C10.7935 16.5352 10.3195 16.5352 10.0265 16.2412C9.73448 15.9472 9.73548 15.4722 10.0285 15.1802L12.9815 12.2402L10.0285 9.30019C9.73548 9.00819 9.73448 8.53419 10.0265 8.24019C10.1725 8.09219 10.3655 8.01919 10.5575 8.01919Z" fill="#242426"/>
                            </svg>
                            <div class="text-base not-italic font-bold leading-5 tracking-normal text-left">Education</div>
                    </button>

                    <div class="my-3 p-8  border rounded-xl border-gray-300 bg-white hidden overflow-hidden  ">
                        <!-- <form> -->
                            <!-- <span class="text-base not-italic font-normal leading-5 tracking-normal text-left">Fill the data of your Education</span> -->
                            <div class="my-6 p-3 mr-20">
                                <div class="mb-8 flex flex-col ">
                                    <label for="mtechBoard_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                        M. Tech Instituion(optional)
                                    </label>
                                    <input type="text" name="mtechBoard_" id="mtechBoard_" placeholder="IITG" value="{{mtechBoard}}"
                                        class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                </div>
                                <div class="sm:mb-8 sm:flex sm:flex-row ">
                                    <div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2">
                                        <label for="mtechGrade_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Grade/Percentage
                                        </label>
                                        <input type="text" name="mtechGrade_" id="mtechGrade_" value="{{mtechGrade}}"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                    <div class=" mb-8  sm:mb-0 flex flex-col  sm:w-1/2 ">
                                        <label for="mtechYear_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Pass out year
                                        </label>
                                        <input type="text" name="mtechYear_" id="mtechYear_" value="{{mtechYear}}"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="mb-8 flex flex-col ">
                                    <label for="btechBoard_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                        B. Tech Instituion
                                    </label>
                                    <input type="text" name="btechBoard_" id="btechBoard_" placeholder="IITG" value="{{btechBoard}}" 
                                        class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                </div>
                                <div class="sm:mb-8 sm:flex sm:flex-row ">
                                    <div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2">
                                        <label for="btechGrade_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Grade/Percentage
                                        </label>
                                        <input type="text" name="btechGrade_" id="btechGrade_" value="{{btechGrade}}"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                    <div class=" mb-8  sm:mb-0 flex flex-col  sm:w-1/2 ">
                                        <label for="btechYear_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Pass out year
                                        </label>
                                        <input type="text" name="btechYear_" id="btechYear_" placeholder="2023(expected)" value="{{btechYear}}"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="mb-8 flex flex-col ">
                                    <label for="ssBoard_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                        Senior Secondary Board
                                    </label>
                                    <input type="text" name="ssBoard_" id="ssBoard_" value="{{ssBoard}}"
                                        class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                </div>
                                <div class="sm:mb-8 sm:flex sm:flex-row ">
                                    <div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2">
                                        <label for="ssGrade_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Grade/Percentage
                                        </label>
                                        <input type="text" name="ssGrade_" id="ssGrade_" value="{{ssGrade}}"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                    <div class=" mb-8  sm:mb-0 flex flex-col  sm:w-1/2 ">
                                        <label for="ssYear_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Passed out year
                                        </label>
                                        <input type="text" name="ssYear_" id="ssYear_" value="{{ssYear}}"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="mb-8 flex flex-col ">
                                    <label for="sBoard_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                        Secondary Board
                                    </label>
                                    <input type="text" name="sBoard_" id="sBoard_" value="{{sBoard}}"
                                        class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                </div>
                                <div class="sm:mb-8 sm:flex sm:flex-row ">
                                    <div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2">
                                        <label for="sGrade_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Grade/Percentage
                                        </label>
                                        <input type="text" name="sGrade_" id="sGrade_" value="{{sGrade}}"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                    <div class=" mb-8  sm:mb-0 flex flex-col  sm:w-1/2 ">
                                        <label for="sYear_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Passed out year
                                        </label>
                                        <input type="text" name="sYear_" id="sYear_" value="{{sYear}}"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                </div>
                            </div>
                            <button class="w-full flex flex-row justify-center items-center h-12 bg-gray-700 rounded flex-none order-2 flex-grow-0 text-base not-italic font-bold leading-6 tracking-normal text-center text-white" 
                            type="button" onclick="myFunction()">
                                Save
                            </button>
                            
                        <!-- </form> -->
                    </div>
                    <!-- Education End -->

                    

                    <!-- Projects Start -->
                    <button class=" accordion flex flex-row  items-center bg-white hover:bg-white border-none cursor-pointer  py-1 w-full text-left text-sm focus:outline-none focus:bg-white">
                        <svg class=" flex " width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5575 8.01919C10.7485 8.01919 10.9405 8.09219 11.0865 8.23819L14.5735 11.7082C14.7145 11.8492 14.7935 12.0402 14.7935 12.2402C14.7935 12.4392 14.7145 12.6302 14.5735 12.7712L11.0865 16.2432C10.7935 16.5352 10.3195 16.5352 10.0265 16.2412C9.73448 15.9472 9.73548 15.4722 10.0285 15.1802L12.9815 12.2402L10.0285 9.30019C9.73548 9.00819 9.73448 8.53419 10.0265 8.24019C10.1725 8.09219 10.3655 8.01919 10.5575 8.01919Z" fill="#242426"/>
                            </svg>
                            <div class="text-base not-italic font-bold leading-5 tracking-normal text-left">Projects</div>
                    </button>
                    <div class="my-3 p-8  border rounded-xl border-gray-300 bg-white hidden overflow-hidden  ">
                        <!-- <form> -->
                            <!-- <span class="text-base not-italic font-normal leading-5 tracking-normal text-left">Fill the data of your Projects </span> -->
                            <div id = "Projects_" class="my-6 p-3 mr-20">


                                {% for proItem in project_list %}

                                <div id="{{proItem.title_string}}">
                                    <div class="sm:mb-8 sm:flex sm:flex-row ">
                                        <div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2">
                                            <label for="{{proItem.title_string}}" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                                Project Title {{proitem.ind}}
                                            </label>
                                            <input type="text" name="{{proItem.title_string}}" id="{{proItem.title_string}}" value="{{proItem.title}}" 
                                                class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                        </div>
                                        <div class=" mb-8  sm:mb-0 flex flex-col  sm:w-1/2 ">
                                            <label for="{{proItem.date_string}}" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                                Finished / Ongoing
                                            </label>
                                            <input type="text" name="{{proItem.date_string}}" id="{{proItem.date_string}}" value="{{proItem.date}}"
                                                class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                        </div>
                                    </div>
                                    <div class="sm:mb-8 sm:flex sm:flex-row ">
                                        <div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2">
                                            <label for="{{proItem.club_string}}" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                                Club / Organization {{proItem.ind}}
                                            </label>
                                            <input type="text" name="{{proItem.club_string}}" id="{{proItem.club_string}}" value="{{proItem.club}}"
                                                class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                        </div>
                                        <div class=" mb-8  sm:mb-0 flex flex-col  sm:w-1/2 ">
                                            <label for="{{proItem.github_string}}" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                                Github Link {{proitem.ind}}
                                            </label>
                                            <input type="text" name="{{proItem.github_string}}" id="{{proItem.github_string}}" placeholder="http://github.com/sample_name" value="{{proItem.github}}"
                                                class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                        </div>
                                    </div>
                                    <div class="mb-8 flex flex-col ">
                                        <label for="{{proItem.des_string}}" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Description {{proitem.ind}}
                                        </label>
                                        <input type="text" name="{{proItem.des_string}}" id="{{proItem.des_string}}" value="{{proItem.des}}" 
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                    <br>
                                    <br>
                                </div>

                                {% endfor %}




                                                                
                            </div>
                            <div class="sm:mb-8 sm:flex sm:flex-row sm:justify-center">
                                <button class=" mb-8 mr-8 sm:mb-0  sm:w-1/4 flex flex-row justify-center items-center h-12 rounded flex-none order-1 flex-grow-0 text-base not-italic font-bold leading-6 tracking-normal text-center text-white focus:ring-4 focus:ring-green-100 focus:ring-offset-2 focus:outline-none" style="background: #FF5200";
                                 type="button" onclick="add_more_pro()">
                                    Add More
                                </button>
                                <button class=" mb-8  sm:mb-0 sm:w-1/4 flex flex-row justify-center items-center h-12 bg-red-700 rounded flex-none order-2 flex-grow-0 text-base not-italic font-bold leading-6 tracking-normal text-center text-white focus:ring-4 focus:ring-blue-100 focus:ring-offset-2 focus:outline-none"
                                 type="button" onclick="remove_pro()">
                                    Remove
                                </button>
                            </div>


                            <button class="w-full flex flex-row justify-center items-center h-12 bg-gray-700 rounded flex-none order-2 flex-grow-0 text-base not-italic font-bold leading-6 tracking-normal text-center text-white focus:ring-4 focus:ring-green-100 focus:ring-offset-2 focus:outline-none" type="button" onclick="myFunction()">
                                Save
                            </button>

                            <script>
                                //  var ProFields = parseInt("{{projectsCount}}");

                                /*
                                
                                    <div class="sm:mb-8 sm:flex sm:flex-row ">
                                        <div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2">
                                            <label for="ptitle1_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                                Project Title 1
                                            </label>
                                            <input type="text" name="ptitle1_" id="ptitle1_" 
                                                class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                        </div>
                                        <div class=" mb-8  sm:mb-0 flex flex-col  sm:w-1/2 ">
                                            <label for="pdate1_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                                Finished / Ongoing
                                            </label>
                                            <input type="text" name="pdate1_" id="pdate1_" placeholder="Feb 2021 / Ongoing"
                                                class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                        </div>
                                    </div>
                                    <div class="sm:mb-8 sm:flex sm:flex-row ">
                                        <div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2">
                                            <label for="pclub1_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                                Club / Organization 1
                                            </label>
                                            <input type="text" name="pclub1_" id="pclub1_" placeholder="SWC"
                                                class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                        </div>
                                        <div class=" mb-8  sm:mb-0 flex flex-col  sm:w-1/2 ">
                                            <label for="pgithub1_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                                Github Link 1
                                            </label>
                                            <input type="text" name="pgithub1_" id="pgithub1_" placeholder="http://github.com/sample_name"
                                                class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                        </div>
                                    </div>
                                    <div class="mb-8 flex flex-col ">
                                        <label for="pdesc1_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Description 1
                                        </label>
                                        <input type="text" name="pdesc1_" id="pdesc1_" 
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                    <br>
                                    <br>
                                      
                                */
                            var ProFields = parseInt("{{projectsCount}}");

                            function add_more_pro() {
                                ProFields = ProFields + 1;
                                
                                var parent = document.getElementById("Projects_");
                                var div = document.createElement("div");
                                div.setAttribute("id", "proTitle" + ProFields);

                                var str = '<div id="proTitle'+ ProFields +'">';
                                    str += '<div class="sm:mb-8 sm:flex sm:flex-row ">';
                                    str+='<div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2">';
                                    str+='<label for="proTitle'+ ProFields +'_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">';
                                    str+='Project Title '+ProFields;
                                    str+='</label>';
                                    str+='<input type="text" name="proTitle'+ ProFields +'_" id="proTitle'+ ProFields +'_" ';
                                    str+='class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">';
                                    str+='</div>';
                                    str+='<div class=" mb-8  sm:mb-0 flex flex-col  sm:w-1/2 ">';
                                    str+='<label for="proDate'+ ProFields +'_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black"> Finished / Ongoing </label>';
                                    str+='<input type="text" name="proDate'+ ProFields +'_" id="proDate'+ ProFields +'_"';
                                    str+=' class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">';
                                    str+='</div>';
                                    str+='</div>';
                                    str+= '<div class="sm:mb-8 sm:flex sm:flex-row ">';
                                    str+= '<div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2">';
                                    str+= '<label for="clubName'+ProFields+'_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">Club / Organization '+ProFields+'</label>';
                                    str+= '<input type="text" name="clubName'+ ProFields +'_" id="clubName'+ProFields+'_" placeholder="SWC"';
                                    str+= 'class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">';
                                    str+= '</div>';
                                    str+= '<div class=" mb-8  sm:mb-0 flex flex-col  sm:w-1/2 ">';
                                    str+= '<label for="githubLink'+ ProFields +'_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black"> Github Link '+ProFields+'</label>';
                                    str+= '<input type="text" name="githubLink'+ ProFields +'_" id="githubLink'+ ProFields +'_" placeholder="http://github.com/sample_name"';
                                    str+= 'class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">';
                                    str+= '</div>';
                                    str+= '</div>';
                                    str+= '<div class="mb-8 flex flex-col ">';
                                    str+= '<label for="proDes'+ ProFields +'_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">Description '+ProFields+'</label>';
                                    str+= '<input type="text" name="proDesc'+ ProFields +'_" id="proDesc'+ ProFields +'_" ';
                                    str+= 'class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">';
                                    str+= '</div>';
                                    str+= '<br><br>';
                                    str+='</div>';

                                div.innerHTML = str;
                                parent.appendChild(div);
                            }
                            function remove_pro() {
                                
                                var parent = document.getElementById("Projects_");
                                parent.removeChild(parent.lastChild);
                                ProFields = ProFields - 1;
                            }
                            </script>
                            
                        <!-- </form> -->
                    </div>
                    <!-- Projects End -->


                    <!-- Technical Skills Start -->
                    <button class=" accordion flex flex-row  items-center bg-white hover:bg-white border-none cursor-pointer  py-1 w-full text-left text-sm focus:outline-none focus:bg-white">
                        <svg class=" flex " width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5575 8.01919C10.7485 8.01919 10.9405 8.09219 11.0865 8.23819L14.5735 11.7082C14.7145 11.8492 14.7935 12.0402 14.7935 12.2402C14.7935 12.4392 14.7145 12.6302 14.5735 12.7712L11.0865 16.2432C10.7935 16.5352 10.3195 16.5352 10.0265 16.2412C9.73448 15.9472 9.73548 15.4722 10.0285 15.1802L12.9815 12.2402L10.0285 9.30019C9.73548 9.00819 9.73448 8.53419 10.0265 8.24019C10.1725 8.09219 10.3655 8.01919 10.5575 8.01919Z" fill="#242426"/>
                            </svg>
                            <div class="text-base not-italic font-bold leading-5 tracking-normal text-left">Technical Skills</div>
                    </button>
                    <div class="my-3 p-8  border rounded-xl border-gray-300 bg-white hidden overflow-hidden  ">
                        <form>
                            <span class="text-base not-italic font-normal leading-5 tracking-normal text-left">Fill the data of your Technical Skills and use superscript * to mention elementary proficiency </span>
                            <div class="my-6 p-3 mr-20">
                                <div class="sm:mb-8 sm:flex sm:flex-row ">
                                    <div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2"> 
                                        <label for="pLanguages_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Programming Languages
                                        </label>
                                        <input type="text" name="pLanguages_" id="pLanguages_" placeholder="c++ , java*, python^"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                    <div class=" mb-8  sm:mb-0 flex flex-col  sm:w-1/2 ">
                                        <label for="webTechs_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Web Technologies
                                        </label>
                                        <input type="text" name="webTechs_" id="webTechs_" placeholder="HTML, CSS*, JavaScript"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                </div>
                                <div class="sm:mb-8 sm:flex sm:flex-row ">
                                    <div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2">
                                        <label for="dbms_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Database Management
                                        </label>
                                        <input type="text" name="dbms_" id="dbms_" placeholder="mySQL^, Oracle, RDBMS"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                    <div class=" mb-8  sm:mb-0 flex flex-col  sm:w-1/2 ">
                                        <label for="os_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Operating systems
                                        </label>
                                        <input type="text" name="os_" id="os_" placeholder="http://github.com/sample_name"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                </div>
                                <div class="sm:mb-8 sm:flex sm:flex-row ">
                                    <div class=" mb-8  sm:mb-0 flex flex-col mr-8 sm:w-1/2">
                                        <label for="miscellaneous_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Miscellaneous
                                        </label>
                                        <input type="text" name="miscellaneous_" id="miscellaneous_" placeholder="mySQL^, Oracle, RDBMS"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                    <div class=" mb-8  sm:mb-0 flex flex-col  sm:w-1/2 ">
                                        <label for="otherSkills_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                            Others
                                        </label>
                                        <input type="text" name="otherSkills_" id="otherSkills_" placeholder="http://github.com/sample_name"
                                            class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                    </div>
                                </div>
                            </div>
                            
                            <button class="w-full flex flex-row justify-center items-center h-12 bg-gray-700 rounded flex-none order-2 flex-grow-0 text-base not-italic font-bold leading-6 tracking-normal text-center text-white focus:ring-4 focus:ring-green-100 focus:ring-offset-2 focus:outline-none" type="button" onclick="myFunction()">
                                Save
                            </button>
                            
                        </form>
                    </div>
                    <!-- Technical Skills End -->
                    
                     <!-- Key Courses  Start -->
                     <button class=" accordion flex flex-row  items-center bg-white hover:bg-white border-none cursor-pointer  py-1 w-full text-left text-sm focus:outline-none focus:bg-white">
                        <svg class=" flex " width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5575 8.01919C10.7485 8.01919 10.9405 8.09219 11.0865 8.23819L14.5735 11.7082C14.7145 11.8492 14.7935 12.0402 14.7935 12.2402C14.7935 12.4392 14.7145 12.6302 14.5735 12.7712L11.0865 16.2432C10.7935 16.5352 10.3195 16.5352 10.0265 16.2412C9.73448 15.9472 9.73548 15.4722 10.0285 15.1802L12.9815 12.2402L10.0285 9.30019C9.73548 9.00819 9.73448 8.53419 10.0265 8.24019C10.1725 8.09219 10.3655 8.01919 10.5575 8.01919Z" fill="#242426"/>
                            </svg>
                            <div class="text-base not-italic font-bold leading-5 tracking-normal text-left">Key Courses </div>
                    </button>
                    <div class="my-3 p-8  border rounded-xl border-gray-300 bg-white hidden overflow-hidden  ">
                        <form>
                            <span class="text-base not-italic font-normal leading-5 tracking-normal text-left">Fill the data of your key courses taken and use superscript * to mention the ongoing course </span>
                            <div class="my-6 p-3 mr-20">
                                
                                <div class="mb-8 flex flex-col ">
                                    <label for="course1_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                        Course 1 
                                    </label>
                                    <input type="text" name="course1_" id="course1_" 
                                        class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                </div>
                                
                                <div class="mb-8 flex flex-col ">
                                    <label for="course2_" class="mb-2 text-gray-800 text-opacity-80 hover:text-black">
                                        Course 2
                                    </label>
                                    <input type="text" name="course2_" id="course2_" 
                                        class="py-2 px-4 border-b-2 border-solid border-gray-300 hover:border-black focus:border-red-300  focus:outline-none focus:border-b-2 hover:border-b-2">
                                </div>

                            </div>
                            <div class="sm:mb-8 sm:flex sm:flex-row sm:justify-center">
                                <button class=" mb-8 mr-8 sm:mb-0  sm:w-1/4 flex flex-row justify-center items-center h-12 rounded flex-none order-1 flex-grow-0 text-base not-italic font-bold leading-6 tracking-normal text-center text-white focus:ring-4 focus:ring-green-100 focus:ring-offset-2 focus:outline-none" style="background: #FF5200"; type="button" onclick="myFunction()">
                                    Add More
                                </button>
                                <button class=" mb-8  sm:mb-0 sm:w-1/4 flex flex-row justify-center items-center h-12 bg-red-700 rounded flex-none order-2 flex-grow-0 text-base not-italic font-bold leading-6 tracking-normal text-center text-white focus:ring-4 focus:ring-blue-100 focus:ring-offset-2 focus:outline-none" type="button" onclick="myFunction()">
                                    Remove
                                </button>
                            </div>
                            <button class="w-full flex flex-row justify-center items-center h-12 bg-gray-700 rounded flex-none order-2 flex-grow-0 text-base not-italic font-bold leading-6 tracking-normal text-center text-white focus:ring-4 focus:ring-green-100 focus:ring-offset-2 focus:outline-none" type="button" onclick="myFunction()">
                                Save
                            </button>
                            
                        </form>
                    </div>
                    <!-- Key Courses End -->


                    

                    <button class="accordion flex flex-row items-start bg-white cursor-pointer py-1 w-full text-left text-sm">
                        <svg class=" flex " width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5575 8.01919C10.7485 8.01919 10.9405 8.09219 11.0865 8.23819L14.5735 11.7082C14.7145 11.8492 14.7935 12.0402 14.7935 12.2402C14.7935 12.4392 14.7145 12.6302 14.5735 12.7712L11.0865 16.2432C10.7935 16.5352 10.3195 16.5352 10.0265 16.2412C9.73448 15.9472 9.73548 15.4722 10.0285 15.1802L12.9815 12.2402L10.0285 9.30019C9.73548 9.00819 9.73448 8.53419 10.0265 8.24019C10.1725 8.09219 10.3655 8.01919 10.5575 8.01919Z" fill="#242426"/>
                        </svg>
                        <span class="text-base not-italic font-bold leading-5 tracking-normal text-left">Position of Responsibilities</span>
                    </button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion flex flex-row items-start bg-white  py-1 w-full text-left text-sm">
                        <svg class=" flex " width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5575 8.01919C10.7485 8.01919 10.9405 8.09219 11.0865 8.23819L14.5735 11.7082C14.7145 11.8492 14.7935 12.0402 14.7935 12.2402C14.7935 12.4392 14.7145 12.6302 14.5735 12.7712L11.0865 16.2432C10.7935 16.5352 10.3195 16.5352 10.0265 16.2412C9.73448 15.9472 9.73548 15.4722 10.0285 15.1802L12.9815 12.2402L10.0285 9.30019C9.73548 9.00819 9.73448 8.53419 10.0265 8.24019C10.1725 8.09219 10.3655 8.01919 10.5575 8.01919Z" fill="#242426"/>
                        </svg>
                        <span class="text-base not-italic font-bold leading-5 tracking-normal text-left">Achievements</span>
                    </button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    
                </div>
                
                <button class="ml-32 sm:ml-64 lg:ml-64 xl:mr-0 flex flex-col p-3  w-40 h-12 bg-pink-700 box-border rounded items-center " type="button" onclick="myFunction()">
                    Compile
                </button>
                </div>
            <div class="bg-gray-500 text-center place-self-center w-full py-80 text-bold text-lg p-6 ml-6 max-h-96 rounded" style="font-family: 'Pacifico';">
               Your Resume will Compile hear 
            </div>
            
        </div>
      
        <!-- body ends -->
            

        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;
            
            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
                });
            }
        </script>
            
    </body>          
</html>
