<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>
            Open resumes
        </title>
        <meta charset ="utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <!-- Bootstrap CSS library -->
    <link rel="stylesheet" href=
    "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity=
    "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
         
        <!-- jQuery library -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity=
    "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
         
        <!-- JS library -->
        <script src=
    "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity=
    "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
         
        <!-- Latest compiled JavaScript library -->
        <script src=
    "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity=
    "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    </head>
    <body>
        <h1 id="top-header">Resume Generator</h1>
        <!-- Header of the html page ***********-->
        <header>
            <div id="tHead">
                <div id="logo">
                    <img src="{% static 'images/saho.png' %}" />
                </div>
                <!--navigation menu-->
                <nav>
                    <div id="menu">
                        <ul>
                            <li class="active"><a href="#sBasics">Basics</a></li>
                            <li><a href="#sEducation">Education</a></li>
                            <li><a href="#sExperience">Experience</a></li>
                            <li><a href="#sProjects">Projects</a></li>
                            <li><a href="#sTechSkills">Tech Skills</a></li>
                            <li><a href="#sKeyCourses">Key Courses</a></li>
                            <li><a href="#sPOR">POR</a></li>
                            <li><a href="#sAchivements">Achivements</a></li>
                        </ul>
                    </div>

                </nav>
            </div>
            <!--
            <div id = "headerImg">
                <img src="images/saho.png">
                <h2 id ="image-text">
                    openResumes
                </h2>
            </div>-->
        </header>
        
        <!-- main content of the html page ************-->
        <main>

            <div id = "pdf1" class="col-12 p-5">
                <embed src="{% static 'pdfs/sample.pdf' %}" type="application/pdf" width="100%" height="100%">&nbsp;</embed>
            </div>   

        <h4> To fill the previously entered data, instead filling the boring form agian from start, choose the .txt file.</h4>
        <div class="centered">
        <input type = "file" class="btn btn-outline-secondary" name = "inputFile" id = "inputFile"> 
        </div>
           
        <script type = "text/javascript">
            document.getElementById("inputFile").addEventListener('change',function(){

                var fr = new FileReader();
                fr.onload = function(){
                    
                    var lines = fr.result.split('\n');
                    for(var line = 0;line<lines.length;line++){
                        var tmp = lines[line].split('#');
                        document.getElementsByName(tmp[0])[0].value = tmp[1];
                    } 
                }
                fr.readAsText(this.files[0]);
            })
        </script>
        
        
        
        <section class="container">
               <div class="container-fluid">
                   <div class="row">
                       <form class="col-12 p-5" name = "form1" action = '.' method="POST" id="form1">{% csrf_token %}
                        <div class="row">
                            <div id="sBasics">
                                <div class="column-title">
                                    <h2>Basic Information</h2>
                                </div>
                            </div>
                        </div>    
                            <div class="form-row">
                                
                                <div class="form-group col-md-4">
                                  <label for="name">Name</label>
                                  <input type="text" class="form-control" name="name">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="roll">Roll No.</label>
                                  <input type="text" class="form-control" name="roll">
                                </div>   
                                <div class="form-group col-md-4">
                                    <label for="mobile">Phone Number</label>
                                    <input type="text" class="form-control" name="mobile">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="webmail">Campus mail id</label>
                                    <input type="email" class="form-control" name="webmail">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="stream">Stream</label>
                                    <input type="text" class="form-control" name="stream" placeholder="B Tech / M Tech / Phd">
                                 </div>
                                <div class="form-group col-md-4">
                                    <label for="Programme">Programme</label>
                                    <input type="text" class="form-control" name="programme" placeholder="Computer Science and Engineering">
                                 </div>
                                <div class="form-group col-md-4">
                                    <label for="minor">Minor</label>
                                    <input type="text" class="form-control" name="minor" placeholder="Minor in Mathematics">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="email">Alternate Mail</label>
                                    <input type="email" class="form-control" name="email">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="linkedIn">LinkedIn</label>
                                    <input type="text" class="form-control" name="linkedIn">
                                </div>
                            </div>
                        
                        <div class="row">
                            <div id="sEducation">
                                <div class="column-title">
                                    <h2>Education</h2>
                                </div>
                            </div>
                        </div>    
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for = "btechBoard">Degree(Instituion)</label>
                                    <input type="text" class="form-control" name="btechBoard" placeholder="Indian Instiution of technolgy, Guwahati">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="btechGrade">Grade/Percentage</label>
                                    <input type="text" class="form-control" name="btechGrade" placeholder="6.5">
                                </div> 
                                <div class="form-group col-md-4">
                                    <label for="btechYear">Pass out year</label>
                                    <input type="text" class="form-control" name="btechYear" placeholder="2023(Expected)">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for = "ssBoard">Senior secondary(Board)</label>
                                    <input type="text" class="form-control" name="ssBoard" placeholder="CBSE">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="ssGrade">Grade/Percentage</label>
                                    <input type="text" class="form-control" name="ssGrade" placeholder="90%">
                                </div> 
                                <div class="form-group col-md-4">
                                    <label for="ssYear">Pass out year</label>
                                    <input type="text" class="form-control" name="ssYear" placeholder="2019">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for = "sBoard">Secondary(Board)</label>
                                    <input type="text" class="form-control" name="sBoard" placeholder="CBSE">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="sGrade">Grade/Percentage</label>
                                    <input type="text" class="form-control" name="sGrade" placeholder="9.5">
                                </div> 
                                <div class="form-group col-md-4">
                                    <label for="sYear">Pass out year</label>
                                    <input type="text" class="form-control" name="sYear" placeholder="2017">
                                </div>
                            </div>
                        <div class="row">
                            <div id="sExperience">
                                <div class="column-title">
                                    <h2>Experience / Internship</h2>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="exp1">Company name 1</label>
                                <input type="text" class="form-control" name="exp1" placeholder="Amazon">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="exp2">Company name 2</label>
                                <input type="text" class="form-control" name="exp2" placeholder="Swiggy">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="exp3">Company name 3</label>
                                <input type="text" class="form-control" name="exp3" placeholder="Google">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="exp4">Company name 4</label>
                                <input type="text" class="form-control" name="exp4" placeholder="Microsoft">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="expDes1">Description 1</label>
                                <textarea class="form-control" rows="3"  name="expDes1" ></textarea>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="expDes2">Description 2</label>
                                <textarea class="form-control" rows="3"  name="expDes2" ></textarea>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="expDes3">Description 3</label>
                                <textarea class="form-control" rows="3"  name="expDes3" ></textarea>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="expDes4">Description 4</label>
                                <textarea class="form-control" rows="3"  name="expDes4" ></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div id="sProjects">
                                <div class="column-title">
                                    <h2>Projects</h2>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for = "proTitle1" >Project Title 1</label>
                                <input type="text" class="form-control" name="proTitle1">
                            </div>
                            <div class="form-group col-md-6">
                                <label for = "proDate1">Finished /Ongoing</label>
                                <input type="text" class="form-control" name="proDate1" placeholder="Feb 2021 / Ongoing">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for = "clubName1" >Club/Organization 1</label>
                                <input type="text" class="form-control" name="clubName1" placeholder="SWC">
                            </div>
                            <div class="form-group col-md-6">
                                <label for = "githubLink1">github Link 1</label>
                                <input type="text" class="form-control" name="githubLink1" placeholder="http://github.com/sample_name">
                            </div>
                        </div>
                        <div class="form-row">    
                            <div class="form-group col-md-12"> 
                                <label for = proDes1>Description</label><br>
                                <textarea class="form-control" rows="3"  name="proDes1" ></textarea> 
                            </div>
                        </div><hr>
                        
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for = "proTitle2" >Project Title 2</label>
                                <input type="text" class="form-control" name="proTitle2">
                            </div>
                            <div class="form-group col-md-6">
                                <label for = "proDate2">Finished /Ongoing</label>
                                <input type="text" class="form-control" name="proDate2" placeholder="Feb 2021 / Ongoing">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for = "clubName2" >Club/Organization 2</label>
                                <input type="text" class="form-control" name="clubName2" placeholder="SWC">
                            </div>
                            <div class="form-group col-md-6">
                                <label for = "githubLink2">github Link 2</label>
                                <input type="text" class="form-control" name="githubLink2" placeholder="http://github.com/sample_name">
                            </div>
                        </div>
                        <div class="form-row">    
                            <div class="form-group col-md-12"> 
                                <label for = proDes2>Description</label><br>
                                <textarea class="form-control" rows="3"  name="proDes2" ></textarea> 
                            </div>
                        </div><hr>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for = "proTitle3" >Project Title 3</label>
                                <input type="text" class="form-control" name="proTitle3">
                            </div>
                            <div class="form-group col-md-6">
                                <label for = "proDate3">Finished /Ongoing</label>
                                <input type="text" class="form-control" name="proDate3" placeholder="Feb 2021 / Ongoing">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for = "clubName3" >Club/Organization 3</label>
                                <input type="text" class="form-control" name="clubName3" placeholder="SWC">
                            </div>
                            <div class="form-group col-md-6">
                                <label for = "githubLin3">github Link 3</label>
                                <input type="text" class="form-control" name="githubLink3" placeholder="http://github.com/sample_name">
                            </div>
                        </div>
                        <div class="form-row">    
                            <div class="form-group col-md-12"> 
                                <label for = proDes3>Description</label><br>
                                <textarea class="form-control" rows="3"  name="proDes3" ></textarea> 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for = "proTitle4" >Project Title 4</label>
                                <input type="text" class="form-control" name="proTitle4">
                            </div>
                            <div class="form-group col-md-6">
                                <label for = "proDate4">Finished /Ongoing</label>
                                <input type="text" class="form-control" name="proDate4" placeholder="Feb 2021 / Ongoing">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for = "clubName4" >Club/Organization 4</label>
                                <input type="text" class="form-control" name="clubName4" placeholder="SWC">
                            </div>
                            <div class="form-group col-md-6">
                                <label for = "githubLink4">github Link 4</label>
                                <input type="text" class="form-control" name="githubLink4" placeholder="http://github.com/sample_name">
                            </div>
                        </div>
                        <div class="form-row">    
                            <div class="form-group col-md-12"> 
                                <label for = "proDes4">Description</label><br>
                                <textarea class="form-control" rows="3"  name="proDes4" ></textarea> 
                            </div>
                        </div>
                       
                        <div class="row">
                            <div id="sTechSkills">
                                <div class="column-title">
                                    <h2>Technical Skills</h2>
                                    Add superscript * to mention elementary proficiency.<hr>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="pLanguages">Programming Languages</label>
                                <input type="text" class="form-control" name="pLanguages" placeholder="c++ , java*, python^">
                            </div> 
                            <div class="form-group col-md-4">
                                <label for="webTechs">Web Technologies</label>
                                <input type="text" class="form-control" name="webTechs" placeholder="HTML, CSS*, JavaScript^">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="dbms">Database Management</label>
                                <input type="text" class="form-control" name="dbms" placeholder="mySQL^, Oracle, RDBMS">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="os">Operating systems</label>
                                <input type="text" class="form-control" name="os" placeholder="linux, Windows">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="miscellaneous">Miscellaneous</label>
                                <input type="text" class="form-control" name="miscellaneous" placeholder="App Development, WebD, Machine Learning">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="otherSkills">Others</label>
                                <input type="text" class="form-control" name="otherSkills" placeholder="...">
                            </div>
                            
                        </div>
                        <div class="row">
                            <div id="sKeyCourses">
                                <div class="column-title">
                                    <h2>Key Courses Taken</h2>
                                    superscript * for mentioning any ongoing courses<hr>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="course1">Course1</label>
                                <input type="text" class="form-control" name="course1" placeholder="Data Structures and Algorithms">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="course2">Course2</label>
                                <input type="text" class="form-control" name="course2" placeholder="">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="course3">Course3</label>
                                <input type="text" class="form-control" name="course3" placeholder="">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="course4">Course4</label>
                                <input type="text" class="form-control" name="course4" placeholder="">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="course5">Course5</label>
                                <input type="text" class="form-control" name="course5" placeholder="">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="course6">Course6</label>
                                <input type="text" class="form-control" name="course6" placeholder="">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="course7">Course7</label>
                                <input type="text" class="form-control" name="course7" placeholder="">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="course8">Course8</label>
                                <input type="text" class="form-control" name="course8" placeholder="">
                            </div>
                        </div>
                        <div class="row">
                            <div id="sPOR">
                                <div class="column-title">
                                    <h2>Position Of Responsibility</h2>
                                </div>      
                            </div>
                        </div>
                        <div class="form-row col-md-12">
                            <div class="form-group col-md-6">
                                <label for="por1">POR1</label>
                                <input type="text" class="form-control" name="por1" placeholder="ex: Worked as club secretary of coding club,2020">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="por1">POR2</label>
                                <input type="text" class="form-control" name="por2" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="porDesc1">POR Description 1</label>
                                <textarea class="form-control" rows="3"  name="porDesc1" ></textarea> 
                            </div>
                            <div class="form-group col-md-6">
                                <label for="porDesc2">POR Description 2</label>
                                <textarea class="form-control" rows="3"  name="porDesc2" ></textarea> 
                            </div>
                            <div class="form-group col-md-6">
                                <label for="por1">POR3</label>
                                <input type="text" class="form-control" name="por3" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="por1">POR4</label>
                                <input type="text" class="form-control" name="por4" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="porDesc3">POR Description 3</label>
                                <textarea class="form-control" rows="3"  name="porDesc3" ></textarea> 
                            </div>
                            <div class="form-group col-md-6">
                                <label for="porDesc4">POR Description 4</label>
                                <textarea class="form-control" rows="3"  name="porDesc4" ></textarea> 
                            </div>
                        </div>
                        <div class="row">
                            <div id="sAchivements">
                                <div class="column-title">
                                    <h2>Achivements and Extracurriculars</h2>
                                </div>
                            </div>
                        </div>
                        <div class="form-row col-md-12">
                            <div class="form-group col-md-4">
                                <label for="ach1">Achivement or extras 1</label>
                                <input type="text" name = "ach1" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="ach2">Achivement or extras 2</label>
                                <input type="text" name = "ach2" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="ach3">Achivement or extras 3</label>
                                <input type="text" name = "ach3" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="achDes1">Description1</label>
                                <textarea class="form-control" rows="3"  name="achDes1" ></textarea> 
                            </div>
                            <div class="form-group col-md-4">
                                <label for="achDes2">Description2</label>
                                <textarea class="form-control" rows="3"  name="achDes2" ></textarea> 
                            </div>
                            <div class="form-group col-md-4">
                                <label for="achDes3">Description3</label>
                                <textarea class="form-control" rows="3"  name="achDes3" ></textarea> 
                            </div>
                        </div>
                        <hr>
                        <div class="form-row col-md-12">
                            <div class="form-group col-md-4">
                                <label for="ach4">Achivement or extras 4</label>
                                <input type="text" name = "ach4" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="ach5">Achivement or extras 5</label>
                                <input type="text" name = "ach5" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="ach6">Achivement or extras 6</label>
                                <input type="text" name = "ach6" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="achDes4">Description4</label>
                                <textarea class="form-control" rows="3"  name="achDes4" ></textarea> 
                            </div>
                            <div class="form-group col-md-4">
                                <label for="achDes5">Description5</label>
                                <textarea class="form-control" rows="3"  name="achDes5" ></textarea> 
                            </div>
                            <div class="form-group col-md-4">
                                <label for="achDes6">Description6</label>
                                <textarea class="form-control" rows="3"  name="achDes6" ></textarea> 
                            </div>
                        </div>
                        <div class="centered">
                            <input type="submit" class = "btn btn-success" id="submit" name= "submit">
                        </div>

                        </form>
                   </div>
               </div>
           </section>
                    
        </main>

        <!-- Footer *************-->
        <footer>

        </footer>
    </body>
</html>